.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem;
    background: linear-gradient(to bottom, var(--background-gradient-start) 0%, var(--background-gradient-end) 100%);
    color: var(--text-primary);
    border-top: 5px solid var(--accent-color);
}

.about-section h2 {
    font-size: calc(2rem + 1vmin);
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Press Start 2P', cursive;
}

.about-section div {
    font-size: calc(.75rem + 1vmin);
    line-height: 1.8;
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.about-topic {
    color: var(--accent-color);
}

.about-para {
    padding: 4px;
}

@media screen and (max-width: 768px) {
    .about-section {
        padding: 2rem;
    }

    .about-section h2 {
        font-size: calc(2.5rem + 1vmin);
    }

    .about-section p {
        padding: 1rem;
        max-width: 85%;
    }
}