.about-section {
    padding: 4rem;
    background: var(--light-to-dark-gradient);
    color: var(--text-primary);
    border-top: var(--section-divider);
}

.about-section h2 {
    font-size: var(--section-header);
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-shadow: var(--section-header-shadow);
    font-family: var(--pixel)
}

.about-section div {
    font-size: calc(.75rem + 1vmin);
    line-height: 1.8;
    max-width: 80%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

.about-topic {
    color: var(--accent-color);
}

.about-para {
    padding: 4px;
}

@media screen and (max-width: 768px) {
    .about-section {
        padding: 2rem;
    }

    .about-section h2 {
        font-size: calc(2.5rem + 1vmin);
    }

    .about-section p {
        padding: 1rem;
        max-width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .about-section h2 {
        font-size: var(--mobile-header-size)
    }
}