.contact-section {
    padding: 4rem;
    background: var(--dark-to-light-gradient);
    text-align: center;
    color: var(--text-primary);
    border-top: var(--section-divider);
}

.contact-email {
    all: unset;
    color: var(--accent-color);
    cursor: pointer;
}

.contact-email:hover {
    all: unset;
    color: var(--text-primary);
    text-decoration: underline;
    cursor: pointer;
}

.contact-section h2 {
    font-size: var(--section-header);
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-shadow: var(--section-header-shadow);
    font-family: var(--pixel)
}

.contact-form {
    width: 70%;
}

.contact-form input,
.contact-form textarea {
    background-color: var(--background-color);
    color: var(--text-primary);
    border: 1px solid var(--accent-color);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.contact-form button {
    background-color: var(--accent-color);
    color: var(--text-primary);
    padding: 1rem 2rem;
    font-size: calc(1rem + 0.5vmin);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--color-transition);
    box-shadow: var(--box-shadow);
}

.contact-form button:hover {
    background-color: var(--button-hover-color);
}

@media screen and (max-width: 768px) {
    .contact-section {
        padding: 2rem;
    }

    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .contact-section h2 {
        font-size: var(--mobile-header-size)
    }
}