.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /* Ensure it starts from the very left */
    width: 200px;
    /* Adjust the width as needed */
    height: 100vh;
    padding: 1rem;
    background: var(--background-gradient-end);
    color: var(--text-primary);
    z-index: 1000;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    /* Add scroll to navbar if content overflows */
}

.nav-toggle-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 1rem;
}

.navbar-toggle {
    display: none;
    /* Hide the toggle button on larger screens */
    position: fixed;
    top: 1rem;
    /* Adjust as needed */
    left: 1rem;
    /* Adjust as needed */
    z-index: 2000;
    /* Ensure it's above other content */
}

.navbar-header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    /* Adjusted for better fit */
    margin-bottom: 0.5rem;
    color: var(--accent-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-header p {
    /* font-family: 'Pixelify Sans', cursive; */
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.side-nav {
    /* font-family: 'Press Start 2P', cursive; */
    /* Pixelated font for navigation links */
    font-size: 0.75rem;
    /* Smaller font size for a less bulky appearance */
    padding: 0.5rem;
    /* Reduced padding */
    margin: 0.2rem 0;
    /* Reduced margin */
    display: flex;
    flex-direction: column;
}

.side-nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    /* Adjusted padding */
    margin: 0.3rem 0;
    /* Adjusted margin */
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.side-nav a:hover,
.side-nav a.active {
    background-color: var(--accent-color);
    color: var(--background-gradient-end);
    font-family: 'Press Start 2P', cursive;
    font-size: .5rem;

}

.social-media {
    margin-top: auto;
    padding: 1rem 0;
    display: flex;
}

.social-media a {
    display: block;
    color: var(--text-primary);
    margin: .25rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: var(--accent-color);
}

.social-media svg {
    width: 1.75em;
    height: 1.75em;
}

@media screen and (max-width: 768px) {
    .navbar-toggle {
        display: block;
        /* Show the toggle button on smaller screens */
    }

    .navbar {
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .navbar-header h1,
    .navbar-header p,
    .side-nav a {
        font-size: 0.75rem;
        /* Even smaller font size on mobile */
    }

    .social-media {
        justify-content: center;
        padding: 0.5rem 0;
    }

        .social-media a {
            margin-bottom: 3rem;
        }

    .social-media svg {
        width: 1.5em;
        height: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        width: 100%;
        /* Full width on smaller screens */
        transform: translateX(-100%);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .side-nav {
        padding: 0.5rem 0;
    }

    .side-nav a {
        padding: 0.3rem 0.5rem;
    }

    .social-media svg {
        width: 1.25em;
        height: 1.25em;
    }
}