.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 1rem;
    background: var(--background-gradient-end);
    color: var(--text-primary);
    z-index: 1000;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.2);
    transition: var(--transform-transition);
    overflow-y: auto;
}

.navbar-toggle {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2000;
}

.navbar-header h1 {
    font-family: var(--pixel);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent-color);
    text-shadow: var(--section-header-shadow);
}

.navbar-header p {
    font-size: 0.875rem;
    color: var(--text-secondary);
}

.side-nav {
    font-size: 0.75rem;
    padding: 0.5rem;
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
}

.side-nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    margin: 0.3rem 0;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.side-nav a:hover,
.side-nav a.active {
    background-color: var(--accent-color);
    color: var(--background-gradient-end);
    font-family: var(--pixel);
    font-size: .5rem;

}

.social-media {
    margin-top: auto;
    padding: 1rem 0;
    display: flex;
}

.social-media a {
    display: block;
    color: var(--text-primary);
    margin: .25rem;
    transition: color 0.3s;
}

.social-media a:hover {
    color: var(--accent-color);
}

.social-media svg {
    width: 1.75em;
    height: 1.75em;
}

@media screen and (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }
    .navbar-header {
        width: 80%;
    }
    .navbar {
        width: 100%;
        transform: translateX(-100%);
        transition: var(--transform-transition);
        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }

    .navbar.open {
        transform: translateX(0);
    }

    .navbar-header h1,
    .navbar-header p,
    .side-nav a {
        font-size: 0.75rem;
    }

    .social-media {
        justify-content: center;
        padding: 0.5rem 0;
    }

        .social-media a {
            margin-bottom: 3rem;
        }

    .social-media svg {
        width: 1.5em;
        height: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        width: 100%;
        transform: translateX(-100%);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .side-nav {
        padding: 0.5rem 0;
    }

    .side-nav a {
        padding: 0.3rem 0.5rem;
    }

    .social-media svg {
        width: 1.25em;
        height: 1.25em;
    }
}