.projects-section {
    padding: 4rem;
    background: var(--light-to-dark-gradient);
    min-height: 100vh;
    border-top: var(--section-divider);
    color: var(--text-primary);
    text-align: center;
}

.projects-section h2 {
    font-size: var(--section-header);
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-shadow: var(--section-header-shadow);
    font-family: var(--pixel);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.project-card {
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: var(--transform-transition);
    color: var(--text-secondary);
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-info {
    padding: 2rem;
}

.project-info h3 {
    color: var(--accent-color);
}

.project-info a {
    text-decoration: none;
    color: var(--background-gradient-end);
    transition: color 0.3s ease;
    font-weight: bold;
    margin-top: 1rem;
    display: inline-block;
}

.project-info a:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .projects-section {
        padding: 2rem;
    }

    .projects-grid {
        gap: 1rem;
    }

    .project-info {
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .projects-section h2 {
        font-size: var(--mobile-header-size)
    }
}