.skills-section {
    text-align: center;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--text-primary);
    background: linear-gradient(to bottom, var(--background-gradient-end) 0%, var(--background-gradient-start) 100%);
    border-top: 5px solid var(--accent-color);
    width: 100%;
    box-sizing: border-box;
}

.skills-section h2 {
    font-size: calc(2rem + 1vmin);
    margin-bottom: 1rem;
    color: var(--accent-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Press Start 2P', cursive;
}

.skills-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.skill-category {
    display: flex;
    /* Added */
    flex-direction: column;
    /* Added */
    justify-content: space-between;
    /* Added */
    background: var(--background-light);
    border: 3px solid var(--accent-color);
    padding: 1rem;
    border-radius: 8px;
        min-height: 50px;
    /* Changed from auto to 100% */
    width: 200px;
    margin-bottom: 1rem;
}

.category-title,
.skills-list {
    flex: 1;
    /* Added */
}

.category-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skill-item {
    background: transparent;
    border: none;
    color: var(--text-light);
    padding: 0.2rem 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    text-align: left;
    white-space: nowrap;
    /* Ensures the text is on a single line */
    overflow: hidden;
    /* Hide overflow */
    text-overflow: ellipsis;
    /* Add an ellipsis to text that spills over */
    max-width: 90%;
    /* Set a max-width to prevent overflow */
    position: relative;
}

.skill-item:hover {
    color: var(--accent-color);
}

.skill-item:hover::after {
    content: attr(data-tooltip);
    /* Use the data attribute for the tooltip content */
    position: absolute;
    left: 100%;
    /* Position to the right of the item */
    top: 0;
    white-space: nowrap;
    /* Prevent the tooltip text from wrapping */
    background-color: #333;
    /* Tooltip background */
    color: #fff;
    /* Tooltip text color */
    padding: 5px;
    /* Padding around the tooltip text */
    border-radius: 5px;
    /* Rounded corners for the tooltip */
    z-index: 10;
    /* Ensure the tooltip is above other items */
}

/* Proficiency colors */
.beginner {
    color: #dddddd;
}

.intermediate {
    color: #80cbc4;
}

.advanced {
    color: #4db6ac;
}

.expert {
    color: #26a69a;
}

.category-title,
.skill-item {
    font-family: 'Press Start 2P', cursive;
}

.skill-key {
    margin-bottom: 2rem;
}

.key-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.key {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.key-item {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
}

.dot.beginner {
    background-color: #dddddd;
}

.dot.intermediate {
    background-color: #80cbc4;
}

.dot.advanced {
    background-color: #4db6ac;
}

.dot.expert {
    background-color: #26a69a;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .skill-key {
        flex-direction: column;
        align-items: center;
    }

    .key {
        flex-wrap: wrap;
        justify-content: center;
    }

    .key-item {
        margin: 0.2rem;
    }

    .skills-section {
        padding: 2rem;
    }

    .category-title {
        font-size: 0.8rem;
    }

    .skill-item {
        font-size: 0.8em;
        /* Adjust font size if needed */
        max-width: 95%;
    }
}