@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --background-gradient-start: #0f4c75;
  --background-gradient-end: #1a1a2e;
  --accent-color: #30e3ca;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --button-hover-color: #28b5b5;
  --responsive-navbar-width: 200px;
  --header-size: calc(2rem + 2vmin);
  ;
  --mobile-header-size: calc(1.5rem + 1vmin);
  --paragraph-size: calc(1rem + 1vmin);
  --pixel: 'Press Start 2P', cursive;
  --dark-to-light-gradient: linear-gradient(to bottom, var(--background-gradient-end) 0%, var(--background-gradient-start) 100%);
  --light-to-dark-gradient: linear-gradient(to bottom, var(--background-gradient-start) 0%, var(--background-gradient-end) 100%);
  --section-header: calc(2rem + 1vmin);
  --section-header-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --section-divider: 5px solid var(--accent-color);
  --background-color: rgba(255, 255, 255, 0.1);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  --color-transition: background-color 0.3s ease;
  --transform-transition: transform 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  color: var(--text-primary);
  background: var(--light-to-dark-gradient);
  line-height: 1.6;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: var(--font-secondary);
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p {
  margin: 0 0 1rem 0;
}

.main-content {
  padding-left: var(--responsive-navbar-width);
}

.section-with-tint {
  position: relative;
  overflow: hidden;
}

.section-with-tint::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background-color);
  z-index: -1;
}

button,
a {
  color: var(--text-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  transition: var(--color-transition), color 0.3s ease;
  text-decoration: none;
  background-color: var(--accent-color);
}

button:hover,
a:hover {
  background-color: var(--button-hover-color);
  color: var(--text-primary);
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  background-color: var(--background-gradient-end);
  color: var(--text-primary);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .main-content {
    padding: 0;
  }

  .section-with-tint::before {
    background: rgba(255, 255, 255, 0);
  }

  button,
  a,
  input,
  textarea {
    padding: 15px;
    border-radius: 6px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  .main-content {
    padding: 0;
  }
}